body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.login-container {
    position: relative;
    width: 350px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

.login-input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Background Animation */
html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.back-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

/* Custom Eye Icon CSS */
.password-toggle {
    position: absolute;
    right: 15px;
    top: 47%;
    cursor: pointer;
    transform: translateY(-50%);
}

.password-toggle i {
    cursor: pointer;
}